<a href="https://colab.research.google.com/github/Haaz123/Absenteeism_Prediction/blob/master/Absenteeism_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing

In [ ]:
raw_unprocessed_data1 = pd.read_csv('1.2 Absenteeism_data.csv.csv')
df = raw_unprocessed_data1.copy()

In [ ]:
# remove "#" to view whole data 
#pd.options.display.max_columns= None
#pd.options.display.max_rows= None

In [ ]:
#df.head()

In [ ]:
df = df.drop(['ID'], axis= 1) # drop ID as it has no meaning to our model

In [ ]:
#df.head()

In [ ]:
reasons_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True) # reason is categorical so creating it's columns

In [ ]:
reasons_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [ ]:
df = df.drop(['Reason for Absence'], axis= 1)

In [ ]:
# Now lets divide reaasons of absence into 4 groups intead of 28 

reason_type1 = reasons_columns.loc[:, 1:14].max(axis=1)
reason_type2 = reasons_columns.loc[:, 15:17].max(axis=1)
reason_type3 = reasons_columns.loc[:, 18:21].max(axis=1)
reason_type4 = reasons_columns.loc[:, 22:].max(axis=1)

In [ ]:
df = pd.concat([ reason_type1, reason_type2, reason_type3, reason_type4, df], axis = 1)

In [ ]:
df.head()

   0  1  2  3  ... Education  Children  Pets  Absenteeism Time in Hours
0  0  0  0  1  ...         1         2     1                          4
1  0  0  0  0  ...         1         1     0                          0
2  0  0  0  1  ...         1         0     0                          2
3  1  0  0  0  ...         1         2     0                          4
4  0  0  0  1  ...         1         2     1                          2

[5 rows x 14 columns]

In [ ]:
df.columns.values

array([0, 1, 2, 3, 'Date', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours'], dtype=object)

In [ ]:
columns_names = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [ ]:
df.columns = columns_names

In [ ]:
#df.head()

In [ ]:
df_reason_mod = df.copy() # creating a check point

In [ ]:
# now lets focus on Date column

df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')

In [ ]:
#df_reason_mod['Date']

In [ ]:
df_reason_mod['Date'][180].weekday()

3

In [ ]:
month_list = [] 
#year_list = []
day_list = []

In [ ]:
for i in range(700): 
  month_list.append(df_reason_mod['Date'][i].month)
  day_list.append(df_reason_mod['Date'][i].weekday())
  #year_list.append(df_reason_mod['Date'][i].year)

In [ ]:
df_reason_mod['Day of the Week'] = day_list

In [ ]:
df_reason_mod['Month of Year'] = month_list

In [ ]:
#df_reason_mod.head()

In [ ]:
df_reason_mod.drop(['Date'], axis= 1) # now lets drop date section as we do not need it

     Reason_1  Reason_2  ...  Day of the Week  Month of Year
0           0         0  ...                1              7
1           0         0  ...                1              7
2           0         0  ...                2              7
3           1         0  ...                3              7
4           0         0  ...                3              7
..        ...       ...  ...              ...            ...
695         1         0  ...                2              5
696         1         0  ...                2              5
697         1         0  ...                3              5
698         0         0  ...                3              5
699         0         0  ...                3              5

[700 rows x 15 columns]

In [ ]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Day of the Week',
       'Month of Year'], dtype=object)

In [ ]:
df_reason_mod = df_reason_mod[['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Day of the Week',
       'Month of Year', 'Absenteeism Time in Hours']]

In [ ]:
#df_reason_mod.head()

In [ ]:
targets = np.where(df_reason_mod['Absenteeism Time in Hours']> df_reason_mod['Absenteeism Time in Hours'].median(), 1,0)

In [ ]:
#targets

In [ ]:
df_with_targets = df_reason_mod.drop(['Absenteeism Time in Hours'] , axis =1)

In [ ]:
#df_with_targets.head()

In [ ]:
df_with_targets['Absenteeism Time Targets'] = targets

In [ ]:
#df_with_targets.head()

In [ ]:
df_with_targets.to_csv('Absenteeism_Preprocessed.csv')