<a href="https://colab.research.google.com/github/Haaz123/Absenteeism_Prediction/blob/master/Absenteeism_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing

In [2]:
raw_unprocessed_data1 = pd.read_csv('1.2 Absenteeism_data.csv.csv')
df = raw_unprocessed_data1.copy()

In [3]:
pd.options.display.max_columns= None
pd.options.display.max_rows= None

In [4]:
#df.head()

In [5]:
df = df.drop(['ID'], axis= 1) # drop ID as it has no meaning to our model

In [6]:
#df.head()

In [7]:
reasons_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True) # reason is categorical so creating it's columns

In [8]:
reasons_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [9]:
df = df.drop(['Reason for Absence'], axis= 1)

In [10]:
# Now lets divide reaasons of absence into 4 groups intead of 28 

reason_type1 = reasons_columns.loc[:, 1:14].max(axis=1)
reason_type2 = reasons_columns.loc[:, 15:17].max(axis=1)
reason_type3 = reasons_columns.loc[:, 18:21].max(axis=1)
reason_type4 = reasons_columns.loc[:, 22:].max(axis=1)

In [11]:
df = pd.concat([ reason_type1, reason_type2, reason_type3, reason_type4, df], axis = 1)

In [12]:
df.head()

,0,1,2,3,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [13]:
df.columns.values

array([0, 1, 2, 3, 'Date', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours'], dtype=object)

In [14]:
columns_names = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [15]:
df.columns = columns_names

In [16]:
df.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [17]:
df_reason_mod = df.copy() # creating a check point

In [18]:
# now lets focus on Date column

df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format='%d/%m/%Y')

In [19]:
#df_reason_mod['Date']

In [20]:
df_reason_mod['Date'][180].weekday()

3

In [21]:
month_list = [] 
year_list = []
day_list = []

In [22]:
for i in range(700): 
  month_list.append(df_reason_mod['Date'][i].month)
  day_list.append(df_reason_mod['Date'][i].weekday())
  year_list.append(df_reason_mod['Date'][i].year)

In [23]:
df_reason_mod['Day of the Week'] = day_list

In [24]:
df_reason_mod['Month of Year'] = month_list

In [25]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Day of the Week,Month of Year
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,1,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,1,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,3,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,3,7

In [26]:
df_reason_mod.drop(['Date'], axis= 1)

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Day of the Week,Month of Year
0,0,0,0,1,289,36,33,239.554,30,1,2,1,4,1,7
1,0,0,0,0,118,13,50,239.554,31,1,1,0,0,1,7
2,0,0,0,1,179,51,38,239.554,31,1,0,0,2,2,7
3,1,0,0,0,279,5,39,239.554,24,1,2,0,4,3,7
4,0,0,0,1,289,36,33,239.554,30,1,2,1,2,3,7
5,0,0,0,1,179,51,38,239.554,31,1,0,0,2,4,7
6,0,0,0,1,361,52,28,239.554,27,1,1,4,8,4,7
7,0,0,0,1,260,50,36,239.554,23,1,4,0,4,4,7
8,0,0,1,0,155,12,34,239.554,25,1,2,0,40,0,7
9,0,0,0,1,235,11,37,239.554,29,3,1,1,8,0,7
10,1,0,0,0,260,50,36,239.554,23,1,4,0,8,0,7
11,1,0,0,0,260,50,36,239.554,23,1,4,0,8,1,7
12,1,0,0,0,260,50,36,239.554,23,1,4,0,8,2,7
13,1,0,0,0,179,51,38,239.554,31,1,0,0,1,2,7
14,0,0,0,1,179,51,38,239.554,31,1,0,0,4,2,7
15,1,0,0,0,246,25,41,239.554,23,1,0,0,8,4,7
16,0,0,0,1,179,51,38,239.554,31,1,0,0,2,4,7
17,0,0,1,0,179,51,38,239.554,31,1,0,0,8,0,7
18,1,0,0,0,189,29,33,239.554,25,1,2,2,8,3,7
19,0,0,0,1,248,25,47,205.917,32,1,2,1,2,2,8
20,1,0,0,0,330,16,28,205.917,25,2,0,0,8,2,8
21,1,0,0,0,179,51,38,205.917,31,1,0,0,1,0,8
22,1,0,0,0,361,52,28,205.917,27,1,1,4,40,0,8
23,0,0,0,1,260,50,36,205.917,23,1,4,0,4,4,8
24,0,0,1,0,289,36,33,205.917,30,1,2,1,8,0,8
25,0,0,0,1,361,52,28,205.917,27,1,1,4,7,0,8
26,0,0,0,1,289,36,33,205.917,30,1,2,1,1,1,8
27,0,0,0,1,157,27,29,205.917,22,1,0,0,4,2,8
28,0,0,1,0,289,36,33,205.917,30,1,2,1,8,2,8
29,0,0,0,1,179,51,38,205.917,31,1,0,0,2,4,8
30,0,0,1,0,179,51,38,205.917,31,1,0,0,8,0,8
31,0,0,1,0,235,29,48,205.917,33,1,1,5,8,3,8
32,0,0,0,1,235,11,37,205.917,29,3,1,1,4,3,8
33,0,0,1,0,235,29,48,205.917,33,1,1,5,8,0,8
34,0,0,0,1,179,51,38,205.917,31,1,0,0,2,0,8
35,0,0,0,1,361,52,28,205.917,27,1,1,4,1,0,8
36,0,0,0,1,289,36,33,205.917,30,1,2,1,8,1,8
37,1,0,0,0,291,50,32,205.917,23,1,0,0,4,3,8
38,0,0,0,1,235,29,48,205.917,33,1,1,5,8,4,8
39,0,0,0,1,260,50,36,205.917,23,1,4,0,4,4,8
40,0,0,0,1,184,42,27,241.476,21,1,0,0,2,1,9
41,0,0,0,1,118,10,37,241.476,28,1,0,0,4,0,9
42,0,0,0,1,179,51,38,241.476,31,1,0,0,4,1,9
43,0,0,1,0,235,20,43,241.476,38,1,1,0,8,1,9
44,0,0,0,1,155,12,34,241.476,25,1,2,0,2,2,9
45,0,0,0,1,118,10,37,241.476,28,1,0,0,3,6,9
46,0,0,0,1,179,51,38,241.476,31,1,0,0,3,0,9
47,0,0,0,1,291,31,40,241.476,25,1,1,1,4,3,9
48,0,0,0,1,260,50,36,241.476,23,1,4,0,8,4,9
49,1,0,0,0,291,31,40,241.476,25,1,1,1,32,0,9
50,0,0,0,0,260,50,36,241.476,23,1,4,0,0,0,9
51,0,0,0,0,225,26,28,241.476,24,1,1,2,0,0,9
52,0,0,0,1,225,26,28,241.476,24,1,1,2,2,1,9
53,0,0,0,1,118,10,37,241.476,28,1,0,0,2,1,9
54,0,0,0,0,289,36,33,241.476,30,1,2,1,0,1,9
55,0,0,0,0,118,13,50,241.476,31,1,1,0,0,1,9
56,0,0,1,0,225,26,28,241.476,24,1,1,2,3,2,9
57,0,0,0,1,179,51,38,241.476,31,1,0,0,3,2,9
58,0,0,0,0,369,17,31,241.476,25,1,3,0,0,2,9
59,0,0,0,1,248,25,47,241.476,32,1,2,1,1,4,9
60,0,0,0,1,179,51,38,241.476,31,1,0,0,3,4,9
61,0,0,0,1,260,50,36,241.476,23,1,4,0,4,4,9
62,0,0,0,1,179,51,38,253.465,31,1,0,0,3,1,10
63,0,0,0,1,118,10,37,253.465,28,1,0,0,3,1,10
64,0,0,0,0,118,13,50,253.465,31,1,1,0,0,2,10
65,0,0,0,1,179,26,30,253.465,19,3,0,0,1,3,10
66,0,0,0,1,179,51,38,253.465,31,1,0,0,3,4,10
67,0,0,0,1,225,26,28,253.465,24,1,1,2,3,4,10
68,0,0,0,1,118,10,37,253.465,28,1,0,0,3,1,10
69,0,0,0,1,225,26,28,253.465,24,1,1,2,2,2,10
70,0,0,0,1,248,25,47,253.465,32,1,2,1,2,2,10
71,0,0,0,1,291,31,40,253.465,25,1,1,1,5,3,10
72,0,0,0,1,179,51,38,253.465,31,1,0,0,8,2,10
73,0,0,0,1,225,26,28,253.465,24,1,1,2,3,2,10
74,0,0,1,0,260,50,36,253.465,23,1,4,0,16,3,10
75,1,0,0,0,291,31,40,253.465,25,1,1,1,8,1,10
76,0,0,0,1,225,26,28,253.465,24,1,1,2,2,1,10
77,0,0,0,1,289,36,33,253.465,30,1,2,1,8,2,10
78,0,0,0,1,361,52,28,253.465,27,1,1,4,1,4,10
79,0,0,0,1,260,50,36,253.465,23,1,4,0,3,4,10
80,0,0,0,1,179,51,38,306.345,31,1,0,0,1,3,11
81,0,0,0,1,225,26,28,306.345,24,1,1,2,1,2,11
82,1,0,0,0,179,51,38,306.345,31,1,0,0,8,3,11
83,0,0,1,0,179,22,40,306.345,22,2,2,0,8,3,11
84,0,0,0,1,291,31,40,306.345,25,1,1,1,5,3,11
85,1,0,0,0,155,12,34,306.345,25,1,2,0,32,0,11
86,0,0,0,1,189,29,33,306.345,25,1,2,2,8,0,11
87,1,0,0,0,291,31,40,306.345,25,1,1,1,40,0,11
88,0,0,0,1,225,26,28,306.345,24,1,1,2,1,2,11
89,1,0,0,0,155,12,34,306.345,25,1,2,0,8,4,11
90,0,0,0,1,225,26,28,306.345,24,1,1,2,3,2,11
91,0,0,1,0,179,22,40,306.345,22,2,2,0,8,2,11
92,1,0,0,0,225,26,28,306.345,24,1,1,2,3,4,11
93,0,0,0,1,260,50,36,306.345,23,1,4,0,4,4,11
94,0,0,0,1,248,25,47,306.345,32,1,2,1,1,0,11
95,0,0,0,1,225,26,28,306.345,24,1,1,2,3,1,11
96,1,0,0,0,289,36,33,306.345,30,1,2,1,24,2,11
97,0,0,0,1,291,31,40,306.345,25,1,1,1,3,3,11
98,0,0,0,1,248,25,47,261.306,32,1,2,1,1,1,12
99,0,0,1,0,118,10,37,261.306,28,1,0,0,64,1,12
100,0,0,0,1,118,13,50,261.306,31,1,1,0,2,2,12
101,0,0,0,1,235,11,37,261.306,29,3,1,1,8,2,12
102,0,0,0,1,225,26,28,261.306,24,1,1,2,2,3,12
103,0,0,0,1,260,50,36,261.306,23,1,4,0,8,4,12
104,0,0,1,0,118,10,37,261.306,28,1,0,0,56,1,12
105,0,0,0,1,361,52,28,261.306,27,1,1,4,8,2,12
106,0,0,0,1,225,26,28,261.306,24,1,1,2,3,3,12
107,0,0,0,1,260,50,36,261.306,23,1,4,0,3,4,12
108,0,0,0,1,225,26,28,261.306,24,1,1,2,2,1,12
109,0,0,0,1,361,52,28,261.306,27,1,1,4,8,2,12
110,0,0,0,1,118,10,37,261.306,28,1,0,0,2,4,12
111,0,0,1,0,246,25,41,261.306,23,1,0,0,8,4,12
112,0,0,0,1,225,26,28,261.306,24,1,1,2,2,4,12
113,0,0,0,1,225,26,28,308.593,24,1,1,2,1,2,1
114,0,0,1,0,118,10,37,308.593,28,1,0,0,1,0,1
115,0,0,0,1,118,10,37,308.593,28,1,0,0,1,1,1
116,0,0,1,0,155,12,34,308.593,25,1,2,0,8,1,1
117,0,0,0,1,225,26,28,308.593,24,1,1,2,2,2,1
118,0,0,0,1,184,42,27,308.593,21,1,0,0,2,3,1
119,0,0,0,1,225,26,28,308.593,24,1,1,2,2,3,1
120,0,0,0,1,225,26,28,308.593,24,1,1,2,1,4,1
121,0,0,0,1,118,10,37,308.593,28,1,0,0,2,0,1
122,0,0,0,1,225,26,28,308.593,24,1,1,2,2,1,1
123,0,0,0,1,118,10,37,308.593,28,1,0,0,2,1,1
124,0,0,0,1,118,10,37,308.593,28,1,0,0,2,2,1
125,0,0,0,1,118,10,37,308.593,28,1,0,0,2,3,1
126,0,0,0,1,118,10,37,308.593,28,1,0,0,2,4,1
127,0,0,0,1,118,10,37,308.593,28,1,0,0,2,0,1
128,0,0,0,1,118,10,37,308.593,28,1,0,0,2,1,1
129,0,0,1,0,179,26,30,308.593,19,3,0,0,8,1,1
130,0,0,1,0,289,36,33,308.593,30,1,2,1,8,1,1
131,0,0,0,1,118,10,37,308.593,28,1,0,0,2,2,1
132,0,0,0,1,184,42,27,308.593,21,1,0,0,2,3,1
133,0,0,0,1,118,10,37,308.593,28,1,0,0,2,3,1
134,0,0,0,1,118,10,37,308.593,28,1,0,0,0,0,1
135,0,0,0,1,225,26,28,308.593,24,1,1,2,1,1,1
136,0,0,0,1,289,36,33,308.593,30,1,2,1,3,3,1
137,0,0,0,1,184,42,27,302.585,21,1,0,0,1,4,2
138,1,0,0,0,246,25,41,302.585,23,1,0,0,8,2,2
139,1,0,0,0,179,51,38,302.585,31,1,0,0,8,2,2
140,0,0,0,1,155,12,34,302.585,25,1,2,0,2,3,2
141,0,0,0,1,189,29,33,302.585,25,1,2,2,8,3,2
142,0,0,0,1,260,50,36,302.585,23,1,4,0,2,4,2
143,0,0,0,1,289,36,33,302.585,30,1,2,1,8,4,2
144,1,0,0,0,388,15,50,302.585,24,1,0,0,8,0,2
145,1,0,0,0,388,15,50,302.585,24,1,0,0,8,1,2
146,0,0,0,1,225,26,28,302.585,24,1,1,2,2,0,2
147,0,0,0,1,225,26,28,302.585,24,1,1,2,2,1,2
148,0,0,0,1,179,26,30,302.585,19,3,0,0,1,1,2
149,0,0,0,1,184,42,27,302.585,21,1,0,0,8,1,2
150,0,0,0,1,225,26,28,302.585,24,1,1,2,3,3,2
151,0,0,1,0,330,16,28,302.585,25,2,0,0,8,0,2
152,0,0,0,1,330,16,28,302.585,25,2,0,0,1,1,2
153,0,0,0,1,225,26,28,302.585,24,1,1,2,1,2,2
154,0,0,1,0,189,29,33,302.585,25,1,2,2,8,3,2
155,0,0,0,1,291,50,32,343.253,23,1,0,0,2,1,3
156,0,0,1,0,260,50,36,343.253,23,1,4,0,8,1,3
157,0,0,1,0,157,27,29,343.253,22,1,0,0,3,1,3
158,0,1,0,0,179,22,40,343.253,22,2,2,0,8,1,3
159,0,0,0,1,291,31,40,343.253,25,1,1,1,8,2,3
160,1,0,0,0,260,50,36,343.253,23,1,4,0,8,2,3
161,1,0,0,0,179,26,30,343.253,19,3,0,0,8,3,3
162,1,0,0,0,248,25,47,343.253,32,1,2,1,3,4,3
163,1,0,0,0,260,50,36,343.253,23,1,4,0,40,4,3
164,1,0,0,0,179,22,40,343.253,22,2,2,0,40,0,3
165,1,0,0,0,155,12,34,343.253,25,1,2,0,16,0,3
166,0,0,0,1,260,50,36,343.253,23,1,4,0,16,0,3
167,1,0,0,0,155,12,34,343.253,25,1,2,0,8,1,3
168,1,0,0,0,289,36,33,343.253,30,1,2,1,8,3,3
169,1,0,0,0,179,22,40,343.253,22,2,2,0,8,3,3
170,0,0,0,1,260,50,36,343.253,23,1,4,0,4,4,3
171,0,0,0,1,225,26,28,343.253,24,1,1,2,1,4,3
172,1,0,0,0,279,5,39,343.253,24,1,2,0,8,0,3
173,1,0,0,0,179,51,38,343.253,31,1,0,0,24,1,3
174,0,0,0,1,225,26,28,343.253,24,1,1,2,2,2,3
175,1,0,0,0,225,26,28,343.253,24,1,1,2,8,0,3
176,1,0,0,0,179,26,30,343.253,19,3,0,0,1,0,3
177,1,0,0,0,225,26,28,343.253,24,1,1,2,8,1,3
178,1,0,0,0,225,26,28,343.253,24,1,1,2,16,2,3
179,1,0,0,0,179,51,38,343.253,31,1,0,0,3,2,3
180,1,0,0,0,279,5,39,343.253,24,1,2,0,16,3,3
181,0,0,0,1,225,26,28,343.253,24,1,1,2,2,4,3
182,1,0,0,0,248,25,47,343.253,32,1,2,1,3,4,3
183,0,0,0,1,225,26,28,343.253,24,1,1,2,1,0,3
184,0,0,0,1,291,31,40,326.452,25,1,1,1,1,2,4
185,0,0,0,1,225,26,28,326.452,24,1,1,2,1,2,4
186,0,0,0,1,155,12,34,326.452,25,1,2,0,1,1,4
187,1,0,0,0,246,25,41,326.452,23,1,0,0,24,2,4
188,0,0,0,1,155,12,34,326.452,25,1,2,0,1,3,4
189,0,0,0,1,225,26,28,326.452,24,1,1,2,2,4,4
190,0,0,0,1,260,50,36,326.452,23,1,4,0,4,4,4
191,1,0,0,0,179,51,38,326.452,31,1,0,0,24,2,4
192,0,0,0,1,118,13,50,326.452,31,1,1,0,1,3,4
193,0,0,0,1,291,31,40,326.452,25,1,1,1,3,4,4
194,1,0,0,0,246,25,41,326.452,23,1,0,0,8,4,4
195,0,0,0,1,291,31,40,326.452,25,1,1,1,1,4,4
196,0,0,0,1,248,25,47,326.452,32,1,2,1,8,4,4
197,0,0,1,0,260,50,36,326.452,23,1,4,0,56,4,4
198,0,0,1,0,289,36,33,326.452,30,1,2,1,8,1,4
199,1,0,0,0,155,12,34,326.452,25,1,2,0,24,2,4
200,0,0,1,0,378,49,36,326.452,21,1,2,4,8,2,4
201,1,0,0,0,289,36,33,326.452,30,1,2,1,16,3,4
202,1,0,0,0,235,11,37,326.452,29,3,1,1,3,4,4
203,0,0,0,0,235,29,48,326.452,33,1,1,5,0,0,4
204,1,0,0,0,289,36,33,378.884,30,1,2,1,8,2,5
205,0,0,0,1,155,12,34,378.884,25,1,2,0,2,3,5
206,0,0,0,1,155,12,34,378.884,25,1,2,0,1,0,5
207,0,0,1,0,179,51,38,378.884,31,1,0,0,8,1,5
208,0,0,1,0,225,26,28,378.884,24,1,1,2,8,1,5
209,1,0,0,0,184,42,27,378.884,21,1,0,0,4,2,5
210,0,0,0,1,155,12,34,378.884,25,1,2,0,2,0,5
211,1,0,0,0,179,51,38,378.884,31,1,0,0,1,1,5
212,1,0,0,0,289,36,33,378.884,30,1,2,1,24,2,5
213,0,0,0,0,279,5,39,378.884,24,1,2,0,0,2,5
214,0,0,0,0,330,16,28,378.884,25,2,0,0,0,2,5
215,0,0,0,0,378,49,36,378.884,21,1,2,4,0,2,5
216,0,0,0,0,388,15,50,378.884,24,1,0,0,0,2,5
217,1,0,0,0,179,51,38,378.884,31,1,0,0,1,1,5
218,1,0,0,0,118,13,50,378.884,31,1,1,0,24,2,5
219,0,0,0,1,361,52,28,378.884,27,1,1,4,8,4,5
220,0,0,1,0,246,25,41,377.550,23,1,0,0,8,0,6
221,0,0,0,1,361,52,28,377.550,27,1,1,4,8,0,6
222,1,0,0,0,246,25,41,377.550,23,1,0,0,24,1,6
223,0,0,0,1,291,31,40,377.550,25,1,1,1,4,3,6
224,1,0,0,0,246,25,41,377.550,23,1,0,0,8,4,6
225,1,0,0,0,179,51,38,377.550,31,1,0,0,8,0,6
226,0,0,0,1,155,12,34,377.550,25,1,2,0,4,0,6
227,1,0,0,0,246,25,41,377.550,23,1,0,0,8,0,6
228,1,0,0,0,118,13,50,377.550,31,1,1,0,8,2,6
229,1,0,0,0,235,11,37,377.550,29,3,1,1,16,4,6
230,0,0,0,1,118,13,50,377.550,31,1,1,0,1,1,6
231,1,0,0,0,118,13,50,377.550,31,1,1,0,80,2,6
232,0,0,0,1,378,49,36,377.550,21,1,2,4,8,3,6
233,1,0,0,0,179,51,38,377.550,31,1,0,0,2,4,6
234,0,0,0,1,289,48,49,377.550,36,1,0,2,2,0,6
235,0,0,0,1,225,26,28,377.550,24,1,1,2,2,3,6
236,0,0,1,0,155,12,34,275.312,25,1,2,0,16,1,7
237,1,0,0,0,118,13,50,275.312,31,1,1,0,8,2,7
238,1,0,0,0,118,10,37,275.312,28,1,0,0,8,4,7
239,0,0,0,1,118,10,37,275.312,28,1,0,0,4,4,7
240,0,0,0,1,330,16,28,275.312,25,2,0,0,8,1,7
241,0,0,1,0,179,26,30,275.312,19,3,0,0,8,3,7
242,0,0,0,1,155,12,34,275.312,25,1,2,0,2,4,7
243,1,0,0,0,330,16,28,275.312,25,2,0,0,8,0,7
244,1,0,0,0,330,16,28,275.312,25,2,0,0,8,1,7
245,0,0,0,1,157,27,29,275.312,22,1,0,0,3,0,7
246,0,0,0,1,361,52,28,275.312,27,1,1,4,8,1,7
247,0,0,0,1,289,36,33,275.312,30,1,2,1,8,2,7
248,0,0,0,1,179,51,38,275.312,31,1,0,0,8,3,7
249,0,0,1,0,289,36,33,275.312,30,1,2,1,32,0,7
250,0,0,1,0,289,36,33,275.312,30,1,2,1,8,3,7
251,0,0,0,0,260,50,36,275.312,23,1,4,0,0,3,7
252,0,0,1,0,289,36,33,265.615,30,1,2,1,8,3,8
253,0,0,1,0,157,27,29,265.615,22,1,0,0,3,3,8
254,0,0,0,1,289,36,33,265.615,30,1,2,1,1,6,8
255,0,0,1,0,228,14,58,265.615,22,1,2,1,8,0,8
256,1,0,0,0,300,26,43,265.615,25,1,2,1,1,2,8
257,1,0,0,0,300,26,43,265.615,25,1,2,1,2,2,8
258,0,0,0,1,260,50,36,265.615,23,1,4,0,4,3,8
259,0,0,0,1,289,36,33,265.615,30,1,2,1,4,0,8
260,0,0,0,1,248,25,47,265.615,32,1,2,1,1,1,8
261,1,0,0,0,268,11,33,265.615,25,2,0,0,8,2,8
262,0,0,0,1,179,26,30,265.615,19,3,0,0,1,2,8
263,1,0,0,0,118,13,50,265.615,31,1,1,0,3,2,8
264,0,0,0,1,248,25,47,265.615,32,1,2,1,2,6,8
265,0,0,0,1,235,11,37,265.615,29,3,1,1,1,0,8
266,0,0,0,1,118,13,50,265.615,31,1,1,0,1,2,8
267,0,0,1,0,235,11,37,265.615,29,3,1,1,8,2,8
268,1,0,0,0,361,52,28,265.615,27,1,1,4,8,0,8
269,1,0,0,0,184,42,27,265.615,21,1,0,0,8,1,8
270,1,0,0,0,179,51,38,294.217,31,1,0,0,8,0,9
271,0,0,0,1,179,51,38,294.217,31,1,0,0,3,4,9
272,0,0,1,0,289,36,33,294.217,30,1,2,1,24,2,9
273,0,0,0,0,235,20,43,294.217,38,1,1,0,0,3,9
274,1,0,0,0,246,25,41,294.217,23,1,0,0,16,0,9
275,0,0,0,1,291,31,40,294.217,25,1,1,1,3,1,9
276,0,0,0,0,231,35,39,294.217,35,1,2,2,0,1,9
277,0,0,0,0,291,50,32,294.217,23,1,0,0,0,1,9
278,1,0,0,0,179,51,38,294.217,31,1,0,0,8,2,9
279,1,0,0,0,246,25,41,294.217,23,1,0,0,32,2,9
280,0,0,0,1,179,51,38,294.217,31,1,0,0,1,3,9
281,0,0,0,1,291,31,40,294.217,25,1,1,1,4,4,9
282,0,0,0,1,260,50,36,294.217,23,1,4,0,4,4,9
283,0,0,0,1,235,20,43,294.217,38,1,1,0,8,2,9
284,0,0,0,1,118,13,50,294.217,31,1,1,0,1,3,9
285,0,0,0,0,235,20,43,294.217,38,1,1,0,0,3,9
286,0,0,0,1,291,31,40,294.217,25,1,1,1,3,4,9
287,1,0,0,0,291,31,40,294.217,25,1,1,1,40,0,9
288,1,0,0,0,179,51,38,294.217,31,1,0,0,8,0,9
289,0,0,0,1,289,36,33,265.017,30,1,2,1,8,2,10
290,0,0,0,1,235,11,37,265.017,29,3,1,1,4,2,10
291,0,0,0,1,289,36,33,265.017,30,1,2,1,8,2,10
292,0,0,0,1,289,36,33,265.017,30,1,2,1,8,3,10
293,0,0,0,0,118,13,50,265.017,31,1,1,0,0,3,10
294,0,0,0,0,248,25,47,265.017,32,1,2,1,0,3,10
295,1,0,0,0,179,26,30,265.017,19,3,0,0,8,2,10
296,1,0,0,0,118,10,37,265.017,28,1,0,0,3,2,10
297,0,0,0,1,369,17,31,265.017,25,1,3,0,8,2,10
298,0,0,0,1,179,51,38,265.017,31,1,0,0,1,4,10
299,1,0,0,0,179,26,30,265.017,19,3,0,0,64,4,10
300,0,0,0,0,235,20,43,265.017,38,1,1,0,0,4,10
301,0,0,1,0,289,36,33,265.017,30,1,2,1,16,5,10
302,0,0,0,1,260,50,36,265.017,23,1,4,0,3,6,10
303,0,0,0,0,235,20,43,265.017,38,1,1,0,0,6,10
304,0,0,0,1,235,20,43,265.017,38,1,1,0,2,2,10
305,0,0,0,1,235,20,43,265.017,38,1,1,0,2,2,10
306,0,0,0,1,118,13,50,265.017,31,1,1,0,1,3,10
307,0,0,0,1,291,31,40,265.017,25,1,1,1,4,3,10
308,0,0,0,1,179,26,30,265.017,19,3,0,0,16,5,10
309,0,0,0,1,118,13,50,265.017,31,1,1,0,1,5,10
310,1,0,0,0,361,52,28,265.017,27,1,1,4,8,2,10
311,0,0,0,0,260,50,36,265.017,23,1,4,0,0,3,10
312,0,0,0,0,291,31,40,265.017,25,1,1,1,0,3,10
313,0,0,0,0,157,27,29,265.017,22,1,0,0,0,3,10
314,1,0,0,0,179,26,30,265.017,19,3,0,0,5,4,10
315,1,0,0,0,179,26,30,265.017,19,3,0,0,5,4,10
316,0,0,0,1,118,13,50,265.017,31,1,1,0,1,5,10
317,1,0,0,0,118,10,37,284.031,28,1,0,0,8,0,11
318,0,0,0,1,248,25,47,284.031,32,1,2,1,2,0,11
319,1,0,0,0,179,51,38,284.031,31,1,0,0,8,1,11
320,0,0,0,1,260,50,36,284.031,23,1,4,0,3,4,11
321,0,0,0,1,291,31,40,284.031,25,1,1,1,1,0,11
322,1,0,0,0,378,49,36,284.031,21,1,2,4,8,0,11
323,1,0,0,0,155,12,34,284.031,25,1,2,0,120,0,11
324,0,0,0,1,235,20,43,284.031,38,1,1,0,8,0,11
325,0,0,0,0,330,16,28,284.031,25,2,0,0,0,1,11
326,0,0,1,0,235,11,37,284.031,29,3,1,1,1,2,11
327,1,0,0,0,118,10,37,284.031,28,1,0,0,3,2,11
328,0,0,0,1,235,11,37,284.031,29,3,1,1,2,3,11
329,0,0,0,1,179,51,38,284.031,31,1,0,0,3,3,11
330,1,0,0,0,246,25,41,284.031,23,1,0,0,8,4,11
331,1,0,0,0,291,31,40,284.031,25,1,1,1,4,4,11
332,1,0,0,0,246,25,41,284.031,23,1,0,0,8,0,11
333,0,0,0,1,179,51,38,284.031,31,1,0,0,1,1,11
334,1,0,0,0,260,50,36,284.031,23,1,4,0,8,2,11
335,0,1,0,0,260,50,36,284.031,23,1,4,0,8,4,11
336,0,0,0,0,378,49,36,284.031,21,1,2,4,0,4,11
337,0,0,0,0,279,5,39,284.031,24,1,2,0,0,1,11
338,0,0,0,1,179,51,38,284.031,31,1,0,0,1,3,11
339,1,0,0,0,225,26,28,236.629,24,1,1,2,3,0,12
340,0,0,0,1,179,51,38,236.629,31,1,0,0,2,0,12
341,0,0,0,1,179,51,38,236.629,31,1,0,0,1,0,12
342,0,0,0,1,235,11,37,236.629,29,3,1,1,3,0,12
343,0,0,0,1,118,13,50,236.629,31,1,1,0,1,1,12
344,0,0,0,1,260,50,36,236.629,23,1,4,0,4,4,12
345,1,0,0,0,246,25,41,236.629,23,1,0,0,8,3,12
346,0,0,0,1,179,51,38,236.629,31,1,0,0,1,3,12
347,0,0,0,1,179,51,38,236.629,31,1,0,0,1,4,12
348,0,0,0,1,179,26,30,236.629,19,3,0,0,1,1,12
349,0,0,0,1,118,10,37,236.629,28,1,0,0,8,1,12
350,0,0,0,1,235,11,37,236.629,29,3,1,1,2,3,12
351,0,0,0,1,179,51,38,236.629,31,1,0,0,1,4,12
352,1,0,0,0,235,20,43,236.629,38,1,1,0,8,1,12
353,1,0,0,0,235,11,37,236.629,29,3,1,1,4,1,12
354,0,0,0,1,260,50,36,236.629,23,1,4,0,8,2,12
355,0,0,0,1,157,27,29,236.629,22,1,0,0,2,0,12
356,0,0,0,1,179,51,38,236.629,31,1,0,0,3,0,12
357,0,0,1,0,289,36,33,236.629,30,1,2,1,8,0,12
358,0,0,0,1,225,26,28,330.061,24,1,1,2,5,2,1
359,0,0,1,0,118,10,37,330.061,28,1,0,0,32,0,1
360,0,0,0,1,155,12,34,330.061,25,1,2,0,2,0,1
361,1,0,0,0,235,11,37,330.061,29,3,1,1,1,1,1
362,0,0,0,1,155,12,34,330.061,25,1,2,0,4,1,1
363,0,0,0,1,289,36,33,330.061,30,1,2,1,8,0,1
364,1,0,0,0,291,31,40,330.061,25,1,1,1,8,2,1
365,0,0,0,1,235,20,43,330.061,38,1,1,0,8,0,1
366,0,0,0,1,118,13,50,330.061,31,1,1,0,4,0,1
367,0,0,0,1,179,51,38,330.061,31,1,0,0,1,2,1
368,0,0,0,1,179,51,38,330.061,31,1,0,0,1,4,1
369,0,0,0,1,118,10,37,251.818,28,1,0,0,2,1,2
370,0,0,0,1,179,51,38,251.818,31,1,0,0,3,2,2
371,1,0,0,0,225,26,28,251.818,24,1,1,2,1,2,2
372,0,0,0,1,289,36,33,251.818,30,1,2,1,3,4,2
373,0,0,0,1,260,50,36,251.818,23,1,4,0,3,4,2
374,0,0,0,1,179,51,38,251.818,31,1,0,0,3,4,2
375,0,0,0,1,179,51,38,251.818,31,1,0,0,2,0,2
376,0,0,0,1,179,51,38,251.818,31,1,0,0,3,2,2
377,1,0,0,0,179,51,38,251.818,31,1,0,0,8,3,2
378,0,0,0,1,246,25,41,251.818,23,1,0,0,8,3,2
379,0,0,0,1,179,51,38,251.818,31,1,0,0,3,4,2
380,0,0,0,1,189,29,33,251.818,25,1,2,2,8,0,2
381,0,0,0,1,179,51,38,251.818,31,1,0,0,3,0,2
382,0,0,0,1,246,25,41,251.818,23,1,0,0,2,1,2
383,0,0,0,1,291,31,40,251.818,25,1,1,1,2,1,2
384,1,0,0,0,157,27,29,251.818,22,1,0,0,16,2,2
385,0,0,0,1,179,51,38,251.818,31,1,0,0,3,2,2
386,0,0,0,1,179,51,38,251.818,31,1,0,0,3,4,2
387,1,0,0,0,246,25,41,251.818,23,1,0,0,24,4,2
388,0,0,0,1,179,51,38,251.818,31,1,0,0,3,2,2
389,0,0,0,1,179,51,38,251.818,31,1,0,0,3,4,2
390,0,0,1,0,118,10,37,244.387,28,1,0,0,8,1,3
391,0,0,1,0,246,25,41,244.387,23,1,0,0,16,2,3
392,0,0,0,1,246,25,41,244.387,23,1,0,0,2,4,3
393,0,0,0,1,260,50,36,244.387,23,1,4,0,4,4,3
394,0,0,0,1,179,51,38,244.387,31,1,0,0,2,0,3
395,0,0,0,1,235,11,37,244.387,29,3,1,1,8,0,3
396,0,0,0,1,179,22,40,244.387,22,2,2,0,8,1,3
397,0,0,0,1,378,49,36,244.387,21,1,2,4,8,1,3
398,0,0,0,1,179,51,38,244.387,31,1,0,0,16,0,3
399,0,0,0,1,361,52,28,244.387,27,1,1,4,8,2,3
400,0,0,0,0,369,17,31,244.387,25,1,3,0,0,2,3
401,0,0,1,0,235,11,37,244.387,29,3,1,1,8,3,3
402,0,0,0,1,118,13,50,244.387,31,1,1,0,2,4,3
403,1,0,0,0,118,13,50,244.387,31,1,1,0,3,1,3
404,1,0,0,0,118,13,50,244.387,31,1,1,0,8,2,3
405,0,0,0,0,235,11,37,244.387,29,3,1,1,0,3,3
406,0,0,0,0,246,25,41,244.387,23,1,0,0,0,3,3
407,0,0,0,0,118,13,50,244.387,31,1,1,0,0,3,3
408,0,0,0,1,179,51,38,244.387,31,1,0,0,8,4,3
409,0,0,0,1,289,36,33,244.387,30,1,2,1,8,4,3
410,0,0,1,0,260,50,36,244.387,23,1,4,0,8,0,3
411,0,0,0,1,246,25,41,244.387,23,1,0,0,2,1,3
412,0,0,0,1,179,51,38,239.409,31,1,0,0,4,2,4
413,0,0,0,1,260,50,36,239.409,23,1,4,0,3,4,4
414,0,0,0,1,330,16,28,239.409,25,2,0,0,4,4,4
415,0,0,0,1,369,17,31,239.409,25,1,3,0,4,0,4
416,0,0,0,1,248,25,47,239.409,32,1,2,1,4,0,4
417,0,0,0,1,330,16,28,239.409,25,2,0,0,8,2,4
418,0,0,0,1,179,51,38,239.409,31,1,0,0,8,2,4
419,0,0,0,1,118,13,50,239.409,31,1,1,0,1,0,4
420,1,0,0,0,118,13,50,239.409,31,1,1,0,120,2,4
421,0,0,0,1,300,26,43,239.409,25,1,2,1,8,4,4
422,0,0,0,1,260,50,36,239.409,23,1,4,0,4,4,4
423,0,0,0,1,179,51,38,239.409,31,1,0,0,4,0,4
424,1,0,0,0,118,10,37,239.409,28,1,0,0,2,2,4
425,1,0,0,0,235,20,43,246.074,38,1,1,0,16,0,5
426,0,0,0,1,248,25,47,246.074,32,1,2,1,2,2,5
427,1,0,0,0,369,17,31,246.074,25,1,3,0,8,0,5
428,0,0,0,1,179,26,30,246.074,19,3,0,0,3,2,5
429,0,0,0,1,179,51,38,246.074,31,1,0,0,4,2,5
430,0,0,0,1,361,52,28,246.074,27,1,1,4,1,3,5
431,0,0,0,1,260,50,36,246.074,23,1,4,0,3,4,5
432,1,0,0,0,179,22,40,246.074,22,2,2,0,2,0,5
433,1,0,0,0,179,22,40,246.074,22,2,2,0,3,0,5
434,0,0,1,0,228,14,58,246.074,22,1,2,1,8,2,5
435,0,0,0,1,225,26,28,246.074,24,1,1,2,3,2,5
436,1,0,0,0,330,16,28,246.074,25,2,0,0,8,4,5
437,0,0,0,1,179,26,30,246.074,19,3,0,0,2,0,5

In [27]:
df_reason_mod.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Day of the Week',
       'Month of Year'], dtype=object)

In [28]:
columns_names = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Day of the Week',
       'Month of Year', 'Absenteeism Time in Hours']

In [29]:
df_reason_mod = df_reason_mod[['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Day of the Week',
       'Month of Year', 'Absenteeism Time in Hours']]

In [30]:
df_reason_mod.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Day of the Week,Month of Year,Absenteeism Time in Hours
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,1,7,4
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,1,7,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,3,7,4
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,3,7,2

In [32]:
targets = np.where(df_reason_mod['Absenteeism Time in Hours']> df_reason_mod['Absenteeism Time in Hours'].median(), 1,0)

In [34]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [35]:
df_with_targets = df_reason_mod.drop(['Absenteeism Time in Hours'] , axis =1)

In [36]:
df_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Day of the Week,Month of Year
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,1,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,1,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,3,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,3,7

In [37]:
df_with_targets['Absenteeism Time Targets'] = targets

In [38]:
df_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Day of the Week,Month of Year,Absenteeism Time Targets
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,1,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,1,7,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,3,7,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,3,7,0

In [39]:
df_with_targets.to_csv('Absenteeism_Preprocessed.csv')